*{
	background-color: #ffe086;
}

.banniere {
	width: 50%;
	transition-duration: 1s;
}

.banniere:hover{
	width: 80%;
	transition-duration: 1s;
}

.div1, h1{
	text-align: center;
}

ul {
	
	font-size: 1.5em;
}

ul:hover{
	opacity: 0;
}




